{% extends "base.html.twig" %}

{% block title %}AppBundle:BlogController:creation{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="col-md-8">
    <h1 class="my-4">Créez votre article</h1>
    {{ form_start(form) }}

        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.photo_url) }}

        <div class="align-items-center">
            {{ form_widget(form.save, {'attr':{'class': 'button-publish btn btn-secondary'}}) }}
        </div>
    {{ form_end(form) }}
</div>
 <!--   <div class="col-md-8">



        <form>
            <div class="form-group">
                <label for="title">Titre : </label>
                <input type="text" class="form-control" id="title" placeholder="La reproduction des pingouins">
            </div>

            <div class="form-group">
                <label for="content">Contenu : </label>
                <textarea class="form-control" id="content" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>

            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Publier !</button>
                </span>
            </div>

        </form>

    </div>
-->

{% endblock %}