{% extends "base.html.twig" %}

{% block title %}AppBundle:BlogController:creation{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1 class="my-4">Editez votre article : {{ article.title }} ?</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.content) }}

    <img class="card-img-top" height="350" src="{{ asset(article.getPhotoUrl()) }}" alt="Card image cap">
    {{ form_row(form.photo_url) }}

    <div class="align-items-center">
        {{ form_widget(form.save, {'attr':{'class': 'button-publish btn btn-secondary'}}) }}
    </div>
    {{ form_end(form) }}


{% endblock %}