{% extends "base.html.twig" %}

{% block title %}AppBundle:BlogController:index{% endblock %}

{% block body %}

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">Les articles phare de la semaine
            <small></small>
        </h1>

        {% for article in articles %}
            {% include 'article_short.html.twig'
                with {'article': article}
            %}
        {% endfor %}

        <!-- Pagination -->
        <div class="text-center">
            <div>
                <small>Nombre total d'articles : {{ nb_articles }}</small>
                <small>Nombre total de pages : {{ nb_pages }}</small>
            </div>
            <strong>Page courante : {{ current_page }}</strong>
        </div>

        <ul class="pagination justify-content-center mb-4">
            {% if current_page == 1 %}
            <li class="page-item ">
                <a class="page-link" href="/{{ current_page + 1 }}">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="/{{ current_page - 1 }}">Newer &rarr;</a>
            </li>
            {% elseif current_page == nb_pages %}
                <li class="page-item disabled">
                    <a class="page-link" href="/{{ current_page + 1 }}">&larr; Older</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="/{{ current_page - 1 }}">Newer &rarr;</a>
                </li>
            {% else %}
                <li class="page-item ">
                    <a class="page-link" href="/{{ current_page + 1 }}">&larr; Older</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="/{{ current_page - 1 }}">Newer &rarr;</a>
                </li>
            {% endif %}
        </ul>

    </div>
{% endblock %}
