{% extends "base.html.twig" %}

{% block title %}AppBundle:BlogController:post{% endblock %}

{% block body %}
        <div class="spacer"></div>
        <div class="card mb-4">

            <img class="card-img-top" height="400" src="{{ asset(article.getPhotoUrl()) }}" alt="Card image cap">

            <div class="card-header">
                <h1 class="card-title">{{ article.title }}</h1>
                <strong class="float-right">{{ article.published | date('Y-m-d H:i:s') }}</strong>
            </div>

            <div class="card-body">

                <strong class="card-text">
                    {{ article.content }}
                </strong>
            </div>

            <div class="card-footer">
                <a href="/post/edit/{{ article.getId() }}" class="btn btn-warning float-right mx-1">Edit</a>
                <a href="/post/delete/{{ article.getId() }}" class="btn btn-danger float-right mx-1">Delete</a>
            </div>
        </div>
{% endblock %}

{% block sidebar %}
    <div class="card-body">

        {{ form_start(searchForm) }}
        {{ form_errors(searchForm) }}

        <div class="input-group">
            {{ form_widget(searchForm.title, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tapez le titre de votre article...'}}) }}
            <span class="input-group-btn">
                  {{ form_widget(searchForm.save, {'attr' : {'class' : 'btn btn-secondary'}})}}
                </span>
        </div>
        {{ form_end(searchForm) }}
    </div>
{% endblock %}
