
{% block sidebar %}
    <div class="card-body">

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="input-group">
            {{ form_widget(form.title, {'attr' : {'class' : 'form-control', 'placeholder' : 'Tapez le titre de votre article...'}}) }}
            <span class="input-group-btn">
                  {{ form_widget(form.save, {'attr' : {'class' : 'btn btn-secondary'}})}}
                </span>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}